<td>
  {{ name }}
</td>
<td>
  {{ address }}
</td>
<td>
  {{ telephone }}
</td>
<td>
  <a class="btn btn-primary edit-btn" href="/contacts/{{ id }}/edit">Chỉnh sửa</a>
</td>
<td>
  <div class="btn btn-danger destroy-btn">Xoá</div>
</td>
