<td>
  <input name="name" value="" class="form-control name" placeholder="Tên">
</td>
<td>
  <input name="address" value="" class="form-control address" placeholder="Địa chỉ">
</td>
<td>
  <input name="telephone" value="" class="form-control telephone" placeholder="Số điện thoại">
</td>
<td>
  <div class="btn btn-success save-btn">Lưu</div>
</td>
<td>
  <div class="btn btn-default back-btn">Quay lại</div>
</td>
