<td>
  {{ name }}
</td>
<td>
  {{ address }}
</td>
<td>
  {{ telephone }}
</td>
<td>
  <div class="btn btn-primary edit-btn">Chỉnh sửa</div>
</td>
<td>
  <div class="btn btn-danger destroy-btn">Xoá</div>
</td>
